.wrapperBtn {
    display: flex;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    padding: 15px;
    width: 130px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 20px;
    text-transform: capitalize;

    cursor: pointer;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: #8fcb91;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
